<div class="wrapper">
    <p-card class="card">
        <div class="create">
            <div></div>
            <p-tag severity="secondary">
                <h1>{{ titulo ? titulo : '' }}</h1>
            </p-tag>
            <p-button icon="pi pi-plus" severity="info" (click)="criar.emit()" rounded [label]="'Novo'"> </p-button>
        </div>
        <p-table
            [style]="{ border: '2px solid black' }"
            [value]="dados"
            showGridlines
            stripedRows
            [paginator]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20, 50, 100, 500]"
            [totalRecords]="numeroRegistros"
            [showCurrentPageReport]="true"
            [currentPageReportTemplate]="'Registros: ' + numeroRegistros"
        >
            <ng-template pTemplate="header">
                <tr>
                    @for (coluna of colunas; track coluna.field) {
                        <th class="header">
                            {{ coluna.header }}
                        </th>
                    }
                    <th class="header">Ações</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-linha>
                <tr>
                    @for (coluna of colunas; track coluna.field) {
                        @if (coluna.type === 'string') {
                            <td>
                                {{ linha[coluna.field] }}
                            </td>
                        }
                        @if (coluna.type === 'text') {
                            <td>
                                <div (click)="onCardClick(linha[coluna.field])" style="cursor: pointer">
                                    <p-card>
                                        <div style="max-height: 3rem">
                                            {{ linha[coluna.field] }}
                                        </div>
                                    </p-card>
                                </div>
                            </td>
                        }
                    }
                    <td>
                        <div class="actions">
                            <p-button icon="pi pi-pencil" (click)="editar.emit(linha.id)"> </p-button>
                            <p-button icon="pi pi-trash" severity="danger" (click)="excluirRegistro(linha.id)">
                            </p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>

<p-dialog [visible]="showCardDialog" (onHide)="showCardDialog = false" [style]="{ width: '50%' }">
    <ng-template #header> Informações </ng-template>
    <ng-template #content>
        {{ texto }}
    </ng-template>
</p-dialog>

<p-dialog [visible]="showDialogExcluir" (onHide)="showDialogExcluir = false">
    <ng-template #header> Excluir registro </ng-template>
    <div>Deseja mesmo excluir este registro?</div>
    <small>Essa ação não pode ser desfeita</small>
    <ng-template #footer>
        <p-button (onClick)="showDialogExcluir = false" severity="secondary">Cancelar</p-button>
        <p-button (onClick)="excluir.emit(idSelecao); showDialogExcluir = false" severity="danger">Excluir</p-button>
    </ng-template>
</p-dialog>
