form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-wrapper {
    margin-top: 2rem;
    background-color: var(--fundoConteudo);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    box-shadow: -5px 5px 5px black;
    border: 2px solid black;
    height: 53rem;
}

.trevos{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

img {
    width: 10rem;
}

input{
    font-size: 2rem;
    width: 25rem;
}

button {
    font-size: 2rem;
    width: 10rem;
}

.notificacoes {
    background-color: yellow;
    color: red;
    padding: 1rem;
}