header {
    font-size: 3rem;
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

a {
    padding: 3rem;
    text-decoration: none;
    font-size: 3rem;
    border-radius: 32px;
}